* {
  box-sizing: border-box;
}

:root {
  color: white;
  --calculator-width: min(85vw, 480px);
  --calculator-gap-size: 3%;
  --main-font-color: #afafaf;
  --display-font-color: #fff;
  --display-base-color: #2b2b2b;
  --display-border-color: #000000;
  --calculator-base-color: #1a1a1a;
  --calculator-border-color: #4e4e4e;
  --button-font-color: #000000;
  --number-button-color: #aa9f9f;
  --operator-button-color: #757070;
  --result-button-color: #e96711;
}

body {
  background-image: url(img/classic-dark-bg.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: min(1.5vw, 12px);
}

#main-heading {
  margin: 0;
  font-size: calc(var(--calculator-width) / 12);
  color: var(--main-font-color);
  text-shadow: 3px 3px black;
}

#main-container {
  height: calc(var(--calculator-width) * 1.5);
  border: calc(var(--calculator-width) / 60) solid var(--calculator-border-color);
  border-radius: calc(var(--calculator-width) / 60);
  width: var(--calculator-width);
  box-shadow: calc(var(--calculator-width) / 100) calc(var(--calculator-width) / 100) calc(var(--calculator-width) / 100) black;
}

#calculator-display {
  height: 15%;
  background-color: var(--display-base-color);
  border: calc(var(--calculator-width) / 40) solid var(--display-border-color);
  padding-inline: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: calc(var(--calculator-width) / 15);
  color: var(--display-font-color);
  overflow: hidden;
}

#calculator-buttons {
  height: 85%;
  background-color: var(--calculator-base-color);
  padding: var(--calculator-gap-size);
  border-top: 8px solid var(--calculator-border-color);
  display: flex;
  flex-wrap: wrap;
  gap: var(--calculator-gap-size);

  button {
    width: calc((100% - var(--calculator-gap-size) * 3) / 4);
    height: calc((100% - var(--calculator-gap-size) * 4) / 5);
    border: none;
    border-radius: 100%;
    color: var(--button-font-color);
    font-size: calc(var(--calculator-width) / 15);
    font-weight: bold;

    &:active {
      opacity: 70%;
    }
  }
}

.number-button {
  background-color: var(--number-button-color);
}

.operator-button {
  background-color: var(--operator-button-color);
}

#result-button {
  background-color: var(--result-button-color);
}

#change-theme {
  width: var(--calculator-width);
  height: calc(var(--calculator-width) / 10);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--calculator-width) / 50);
  background-color: var(--calculator-base-color);
  border: calc(var(--calculator-width) / 125) solid var(--calculator-border-color);
  border-radius: calc(var(--calculator-width) / 100);

  label {
    font-size: calc(var(--calculator-width) / 20);
    color: var(--main-font-color);
  }

  select {
    padding-inline: calc(var(--calculator-width) / 50);
    font-size: calc(var(--calculator-width) / 25);
    color: var(--main-font-color);
    background-color: var(--calculator-base-color);
  }

}